.radio-group {
    display: flex;
  }
  
  .radio-group input[type="radio"] {
    display: none;
  }
  
  .radio-group label {
    display: inline-block;
    margin-right: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .radio-group input[type="radio"]:checked + label {
    background-color: #007bff;
    color: rgb(0, 255, 17);
  }

  h1 {
    font-size: 20px;
    font-family: Arial, sans-serif;
  }

  .radio-group input[type="radio"]:nth-of-type(1) + label {
    background-color: red;
  }

  .radio-group input[type="radio"]:nth-of-type(2) + label {
    background-color: yellow;
  }

  .radio-group input[type="radio"]:nth-of-type(3) + label {
    background-color: white;
  }